<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <title>Страница пользовтаеля</title>
</head>
<body>
<nav th:object="${user}" class="navbar navbar-dark bg-dark" style="background-color: #343A40">
    <h4>
        <a class="navbar-text text-white font-bold" style="text-decoration: none" th:text="${user.getEmail()}">Email</a>
        <th:block th:object="${user}">
            <a class="text-white font-bold lead" style="text-decoration: none">with roles:</a>
            <a class="text-white font-bold lead" style="text-decoration: none" th:each="item : *{roles}"
               th:text="${roles} + ' '">item about user/admin</a>
        </th:block>
        </div>
    </h4>
    <form method="post" name="logout" th:action="@{/logout}">
        <div class="text-forLogoutRight  ">
            <input class="btn btn-link text-second " type="submit" value="Logout"
                   style="color: #97948D; text-decoration: none">  <!--убираем подчеркивание текст декоратион-->
        </div>
    </form>
</nav>
<br/>
<br/>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" style="background-color: #FFFFFF">
            <ul class="nav nav-pills flex-column">
                <div class="row justify-content">
                    <div class="btn-group-vertical justify-content">
                        <a class="btn btn-primary btn-md" href="/user" role="button">User</a>
                    </div>
                </div>
            </ul>
        </div>
<!--            <div class="row justify-content">-->
<!--                <div class="btn-group-vertical justify-content">-->
<!--                    <a class="btn btn-primary btn-md" href="/user" role="button">User</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


        <div class="col-md-10">
            <h2 class="card-title">User information</h2>
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item active" role="presentation">
                    <a class="nav-link" data-toggle="tab" href="#user" role="tab">About user</a>
                </li>
            </ul>

            <div class="container-fluid">


                <div class="card">
                    <table class="table table-striped"> <!--таблица с полосатыми рядами-->
                        <div class="card-header">
                            <h4>About user</h4>
                        </div>
                        <div class="card-body">


                            <thead>
                            <tbody>
                            <tr>

                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                            </tr>
                            </thead>

                            <tr th:object="${user}">
                                <td th:text="${user.getId()}"></td>
                                <td th:text="${user.getName()}"></td>
                                <td th:text="${user.getLastname()}"></td>
                                <td th:text="${user.getAge()}"></td>
                                <td th:text="${user.getEmail()}"></td>
                                <td th:text="${roles}"></td>
                            </tr>
                            </tbody>
                        </div>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous">

</script>

</body>
</html>