<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <title>Страница пользовтаеля</title>
</head>
<body style="background-color: #F8F9FA">

<nav class="navbar navbar-first" style="background-color: #343A40">
    <div class="container-fluid">
        <div class="navbar-header text-white">
            <ul class="list-inline">
                <li class="list-inline-item"><h5 th:text="${user.getEmail()}"></h5> </li>
                <li class="list-inline-item"><h3 class="lead" th:text=" ' with roles: ' + ${roles}"></h3> </li>
            </ul>
        </div>

        <div>
            <form method="post" name="logout" th:action="@{/logout}">
                <input type="submit" value="Разлогиниться">
            </form>

        </div>
    </div>
</nav>

<br/>
<br/>

<table boarder="1">
    <thead>
    <tr>

        <th>Id</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>Email</th>
        <th>Password</th>
        <th>Role</th>
    </tr>
    </thead>

    <tr th:object="${user}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getLastname()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td th:text="${user.getRoles()}"></td>
    </tr>

</table>
<br>

<h4><a href="/admin">Если есть права админа, то можешь перейти в Админку </a></h4>

<br>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous">

</script>

</body>
</html>